---
import Blog from "@components/Blog"
import { BLOG } from "@consts"
import BottomLayout from "@layouts/BottomLayout.astro"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import { getCollection } from "astro:content"

import FeaturedPosts from "@components/FeaturedPosts.astro"
import type { CollectionEntry } from "astro:content"

type Blog = CollectionEntry<"blog">


const posts = (await getCollection("blog"))
  .filter((post: Blog) => !post.data.draft)
  .sort((a: Blog, b: Blog) => b.data.date.getTime() - a.data.date.getTime())


const tags = [...new Set(posts.flatMap((post:Blog) => post.data.tags))]
  .sort((a, b) => a.localeCompare(b))

const featuredPosts = posts.filter(i => i.data.featured)
 
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <FeaturedPosts featuredPosts={featuredPosts}  />
  </TopLayout>

  <BottomLayout size="md">
    <div class="animate">
      <Blog client:load tags={tags} data={posts} />
    </div>
  </BottomLayout>
</PageLayout>

