---
import type { CollectionEntry } from "astro:content"
import { formatDate, readingTime } from "@lib/utils"
import { Image } from "astro:assets"

type Props = {
  entry: CollectionEntry<"projects"> | CollectionEntry<"blog">
}

const { entry } = Astro.props
const { data, body } = entry
const { title, summary, date, image, featured } = data


---

<div>
  {
    image && 
    <Image src={image} width={1920} height={1080} class="w-full h-full relative header-post opacity-50 aspect-video object-cover" alt={`${title} feature image`} />
  }

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div class="flex flex-wrap uppercase gap-3 opacity-80 ">
      <span class="flex items-center gap-2 xl:text-xl text-xs">
        <svg class="xl:size-8 lg:size-5 size-3 stroke-current">
          <use href="/ui.svg#calendar"/>
        </svg>
        <b class="mt-0.5">{formatDate(date)}</b>
      </span>
  
      <div class="flex items-center gap-2 xl:text-xl text-xs">
        <svg class="xl:size-8 lg:size-5 size-3 stroke-current">
          <use href="/ui.svg#book-open"/>
        </svg>
        <b class="mt-0.5">{readingTime(body)}</b>
      </div>

      {featured && (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.25em"
          height="1.25em"
          class="block xl:mt-[5px]"
          viewBox="0 0 16 16">
          <path
            fill="#ccffff"
            d="m16 6.204l-5.528-.803L8 .392L5.528 5.401L0 6.204l4 3.899l-.944 5.505L8 13.009l4.944 2.599L12 10.103z"
          />
        </svg>
      )}
  
    </div>
  
    <h1 class="text-lg md:text-2xl lg:text-4xl xl:text-5xl font-semibold text-black dark:text-white mt-2 ">
      {title}
    </h1>
  
    <i class="mt-1 lg:text-2xl md:text-lg ">
      {summary}
    </i>

    <button 
      onclick="const target = document.getElementsByTagName('article')[0]
        if (target) target.scrollIntoView({ behavior: 'smooth' })"
      id="ctaButtons" class='animated mx-auto flex flex-wrap gap-4 justify-center mt-5'
    >
      <span class="jump fill-white animate-pulse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"></path></svg>
      </span>
    </button>
  </div>
</div>

<style>
  .header-post {
    background: var(--primary-color);
  }
  #ctaButtons {
    animation: bounce 2s infinite;
  }
</style>