---
import type { CollectionEntry } from "astro:content"
import { formatDate, readingTime } from "@lib/utils"
import { Image } from "astro:assets"

type Props = {
  entry: CollectionEntry<"projects"> | CollectionEntry<"blog">
}

const { entry } = Astro.props
const { collection, data, body } = entry
const { title, summary, date, image } = data

const demoUrl = collection === "projects" ? data.demoUrl : null
const repoUrl = collection === "projects" ? data.repoUrl : null

---

<div>
  {
    image && 
    <Image src={image} width={1920} height={1080} class="w-full relative header-post opacity-50 aspect-auto" alt={`${title} feature image`} />
  }

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div class="flex flex-wrap text-sm uppercase mt-12 gap-3 opacity-75 ">
      <div class="flex items-center gap-2 text-xl">
        <svg class="size-8 stroke-current">
          <use href="/ui.svg#calendar"/>
        </svg>
        <b>{formatDate(date)}</b>
      </div>
  
      <div class="flex text-xl items-center gap-2">
        <svg class="size-8 stroke-current">
          <use href="/ui.svg#book-open"/>
        </svg>
        <b>{readingTime(body)}</b>
      </div>
  
    </div>
  
    <h1 class="text-5xl font-semibold text-black dark:text-white mt-2">
      {title}
    </h1>
  
    <div class="mt-1 text-2xl">
      {summary}
    </div>
  </div>
</div>

<style>
  .header-post {
    background: var(--primary-color);
  }
</style>